footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(13, 17, 31, .7);
    color: silver;
    padding: .75rem 0;
    padding-right: @space;
    text-align: right;

    a {
        color: @light-blue;
        text-decoration: none;
    }

    a:hover {
        color: @silver;
    }
}