footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: rgba(13, 17, 31, .7);
    color: silver;
    padding: .75rem 0;
    padding-right: @space;
    text-align: right;
    max-height: 10vh;
    width: 100%;

    a {
        color: @light-blue;
        text-decoration: none;
    }

    a:hover {
        color: @rosy-brown;
    }
}