body {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;

    .container {
        color: @silver;
        min-height: 100vh;
        background-image: url("../img/hands-together.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        align-content: center;

    } /*end container */

} /* end body */

