body {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;

    .container {
        background-image: url("../img/hands-together.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: @dark-slate-gray;
        .background();

        @media (max-width: 1000px){
            background-image: url("../img/hands-together-1000.jpeg");
        }

        @media (max-width: 800px){
            background-image: url("../img/hands-together-800.jpeg");
        }

        @media (max-width: 500px){
            background-image: url("../img/hands-together-500.jpeg");
        }

    } /* end container */

    .about-container {
            .background();         
    } /*  end about-container  */

} /* end body */