// width below 500px

body {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;

    .container {

        header {
            display: flex;
            flex-direction: column;

            .title {
                h1 {
                    color: @steel-blue;
                    font-size: 4rem;
                    font-weight: bold;
                    background-color: rgba(255, 255, 255, .7);
                    padding: 1rem;
                }
            }
        } /* end header */

        min-height: 100vh;
        background-image: url("../img/hands-together.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        align-content: center;

    } /*end container */


} /* end body */

