.main-box {
    display: flex;
    flex-direction: row;
}

.box-left {
    width: 70%;
    padding-left: @space;
    font-weight: bold;
}

.box-right {
    width: 30%;
    padding-right: @space;
}

a {
    color: @steel-blue;
    text-decoration: none;
}

a:hover {

}