.nav-links {
    display: flex;
    flex-direction: row;
    max-height: 5vh;;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: @dark-slate-gray;

        li {
            margin: 0 auto;
            padding: 0.75rem 0;
        }

        li a{
            color: @silver;
            text-decoration: none;
        }

        li:hover a {
            color: @rosy-brown;
        }
    }  /*-- end ul --*/

    ul:first-child {
        width: 70%;

        li {
            margin-left: @space;
        }
    }

    ul:last-child {
        width: 30%;

        li {
            margin-right: @space;
        }
    }
}