.nav-links ul {
    display: flex;
    flex-direction: row;
    background-color: @dark-slate-gray;

    li {
        justify-content: space-between;
        padding: 0.75rem 1rem;
    }

    li:last-child {
        margin-left: auto;
    }

    li a{
        color: @silver;
        text-decoration: none;
    }

    li:hover a {
        text-decoration-line: line-through;
    }
}